<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://th.bing.com/th/id/R.b198b72af3b2a07673308985bd7919dd?rik=KUIziS0uCAOXqw&pid=ImgRaw&r=0" alt="" srcset="" >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Angular Strikes Back </a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Laoreet id donec
        ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus
        pretium quam vulputate. Auctor augue mauris augue neque gravida in
        fermentum et. Sit amet marttims vulputate enim nulla aliquet porttitor
      </a>
    </p>
  </div>
</div>
