<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://th.bing.com/th/id/R.b198b72af3b2a07673308985bd7919dd?rik=KUIziS0uCAOXqw&pid=ImgRaw&r=0"
      cardTitle="Angular Strickes Back"
      cardDescription="Angulars Vision for the Future. In the Angular 2021 recap and 2022 preview post, we shared our plans for 2022. As we are almost midway through 2022, this is a great time…. Madleina Scheidegger. May 24, 2022.">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Mastering TypeScript: 20 Best Practices for Improved Code Quality"
      photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*GF2-oJG_TschrTYEoCudkg.png">
    </app-small-card>
    <app-small-card
      cardTitle="New Angular 16 is Going Big in 2023: Everything You Need to Know"
      photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*mRGB7j4ItqWn9UKXK3bx_Q.png">
    </app-small-card>
    <app-small-card
      cardTitle="Advancements in the Angular Router"
      photoCover="https://miro.medium.com/v2/resize:fit:720/0*CMRt_X2y06OTNl0U">
    </app-small-card>
  </div>
</div>


<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://media.wired.com/photos/5ad1436ee7f4053764abb7d2/191:100/w_1280,c_limit/bb8.jpg"
      cardTitle="Let's Use Star Wars to Explain the Concept of Angular Size"
      cardDescription="THE RESISTANCE IS trying to make a quick getaway before the First Order arrives. Then—boom! It's too late. They're already here—two Star Destroyers just arrived near the planet in space.">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="How to Start Flying with Angular and NgRx"
      photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*X8AWlj7oVuEC_hCrWvwfbw.jpeg">
    </app-small-card>
    <app-small-card
      cardTitle="New Angular 16 is Going Big in 2023: Everything You Need to Know"
      photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*mRGB7j4ItqWn9UKXK3bx_Q.png">
    </app-small-card>
    <app-small-card
      cardTitle="Star Wars Used to Explain the Concept of Angular Size"
      photoCover="https://cdn-blog.adafruit.com/uploads/2018/04/mV0110_1024x1024-600x400.jpg">
    </app-small-card>
  </div>
</div>
